.Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.button {


  color: black;
  height:100px;
}
.ButtonDiv {
  top: 50%;


}
.Title {
color:black;
}