<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/index.css" th:href="@{/index.css}"/>
    <meta charset="UTF-8">
    <title>OneRestaurant</title>
</head>
<body>
<div class="container">


    <img class="img" width="1300" height="1000"

         th:src="@{/photo2.jpg}"

    />
    <div class="Text">
        <h1 class="Title" height="200">One Restaurant</h1>

        <a class="button" href="/menu">Check out menu!</a>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet sollicitudin neque. Sed laoreet blandit nibh non malesuada. Maecenas finibus nisl eu nisl condimentum, sit amet laoreet ligula eleifend. Integer nec lectus pulvinar, semper felis vel, dictum dolor. Nam molestie convallis erat, nec semper nibh pretium in. Nulla sed condimentum erat. Donec in velit ipsum. Maecenas eu consectetur odio, eu malesuada erat. Mauris suscipit ultrices ex vitae aliquet. Duis id fermentum turpis. Ut ac urna a diam convallis semper vitae eu sapien.

        Nam sed mauris pellentesque, tristique sapien at, suscipit leo. Phasellus imperdiet euismod mi, vel suscipit quam placerat ullamcorper. Aliquam ac ligula mi. Duis convallis risus ante, in lobortis ligula ultrices quis. Quisque malesuada felis in tristique aliquet. Suspendisse posuere at nisl vitae faucibus. Morbi vel elit sollicitudin, imperdiet magna nec, rutrum neque. Donec elementum aliquet est, quis gravida nunc tempor suscipit. In dui eros, suscipit at convallis a, faucibus eu dui. Ut pretium arcu eu nulla pharetra, vel congue nisl lacinia. Donec mi diam, fermentum sed metus sit amet, porta facilisis elit. Donec vehicula magna quis leo vulputate rutrum.

        Nullam consectetur enim vitae mauris placerat elementum ac ac ligula. Quisque massa odio, pellentesque ut sodales ut, pellentesque at dui. Donec orci ex, maximus eu ipsum nec, tincidunt porttitor magna. Etiam sed nunc purus. Fusce euismod placerat dolor quis convallis. Nunc risus arcu, gravida vel enim in, egestas lobortis turpis. Proin consectetur ex vel rhoncus sollicitudin. Maecenas diam orci, tempor in convallis vel, finibus a lorem. Aliquam ut nulla placerat, tincidunt odio quis, volutpat lectus. Suspendisse eget ligula nunc.

        Duis eget arcu et mi mollis aliquam. Aliquam scelerisque magna in risus accumsan, in lobortis tortor tincidunt. Praesent ultricies mi tortor, sit amet suscipit justo cursus vitae. Morbi rhoncus massa a felis fringilla, quis consectetur odio pellentesque. Fusce dapibus nisl elit, ut auctor massa cursus sed. Aenean varius ex vel iaculis scelerisque. Vivamus in placerat augue, quis ultrices felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus egestas volutpat eros at euismod. Cras sagittis hendrerit dignissim.

        Morbi malesuada pharetra augue et volutpat. Suspendisse ipsum sapien, tempor maximus sapien quis, porttitor congue turpis. Etiam lectus augue, vestibulum id semper condimentum, interdum sit amet nunc. Cras fermentum consequat justo, id laoreet tortor sagittis vel. Curabitur arcu arcu, maximus sit amet ipsum ut, feugiat vehicula dui. In nibh diam, egestas in pretium at, pellentesque sed dolor. Mauris interdum ornare orci, ut viverra risus sagittis porta. Nam at elementum neque. Maecenas finibus, risus a gravida lobortis, dui velit mattis risus, a viverra magna ante at augue. Nulla et tempus lorem, mollis pretium ipsum. Cras id magna nisl. Praesent eu tincidunt leo.
    </div>

</div>

</body>
</html>